_/Chapter 7-Revised/resources/wsdl/CreditCardService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CreditCard" targetNamespace="http://rubiconred.com/ckbk/svc/CreditCard" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://rubiconred.com/ckbk/svc/CreditCard" xmlns:ebm="http://rubiconred.com/ckbk/ebm/CreditCard" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:acc="http://rubiconred.com/ckbk/xsd/account" xmlns:cmn="http://rubiconred.com/ckbk/xsd/common" xmlns:flt="http://rubiconred.com/ckbk/xsd/fault" xmlns:usr="http://rubiconred.com/ckbk/xsd/usr">
    <wsdl:documentation>Version 1.0</wsdl:documentation>

    <wsdl:types>
		<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://rubiconred.com/ckbk/ebm/CreditCard" schemaLocation="CreditCardService.xsd"/>
			<xsd:import namespace="http://rubiconred.com/ckbk/xsd/fault" schemaLocation="../xsd/Fault_v1_0.xsd"/>
		</xsd:schema>
    </wsdl:types>

    <wsdl:message name="verifyCreditCard">
        <wsdl:part name="payload" element="ebm:verifyCreditCard"/>
    </wsdl:message>
    <wsdl:message name="verifyCreditCardResponse">
        <wsdl:part name="payload" element="ebm:verifyCreditCardResponse"/>
    </wsdl:message>
    <wsdl:message name="debitCreditCard">
        <wsdl:part name="payload" element="ebm:debitCreditCard"/>
    </wsdl:message>
    <wsdl:message name="debitCreditCardResponse">
        <wsdl:part name="payload" element="ebm:debitCreditCardResponse"/>
    </wsdl:message>
    <wsdl:message name="fault">
        <wsdl:part name="payload" element="flt:fault"/>
    </wsdl:message>  
    
    <wsdl:portType name="CreditCard">
        <wsdl:operation name="verifyCreditCard">
            <wsdl:input message="tns:verifyCreditCard"/>
            <wsdl:output message="tns:verifyCreditCardResponse"/>
            <wsdl:fault name="invalidCreditCard" message="tns:fault"/>
        </wsdl:operation>
        
        <wsdl:operation name="debitCreditCard">
            <wsdl:input message="tns:debitCreditCard"/>
            <wsdl:output message="tns:debitCreditCardResponse"/>
            <wsdl:fault name="invalidCreditCard" message="tns:fault"/>
        </wsdl:operation>
    </wsdl:portType>
 
    <wsdl:binding name="CreditCardBinding" type="tns:CreditCard">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="verifyCreditCard">
            <soap:operation style="document" soapAction="verifyCreditCard"/>
            <wsdl:input>
               <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="debitCreditCard">
            <soap:operation style="document" soapAction="debitCreditCard"/>
            <wsdl:input>
               <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="CreditCardBindingQSService">
        <wsdl:port binding="tns:CreditCardBinding" name="CreditCardBindingQSPort">
            <soap:address location="http://localhost:8011/ckbk/svc/CreditCard"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>